{% extends 'admin.html.twig' %}

{% block admin %}
<div class="d-flex justify-content-between row min-vh-100">
<div class="d-flex justify-content-between align-items-center position-sticky top-0 p-4 bg-white">
        <h1>Invités</h1>
        <a href="{{ path('admin_guest_manage') }}" class="btn btn-primary">Gérer les invités</a>
    </div>
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr id="guest-row-{{ guest.id }}">
                <td>{{ guest.name }}</td>
                <td>{{ guest.email }}</td>
                <td>
                    <a href="{{ path('admin_guest_update', {id: guest.id}) }}" class="btn btn-warning">Modifier</a>
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#confirmModal"
                            data-bs-confirm-action="{{ path('admin_guest_remove_role', {id: guest.id}) }}"
                            data-bs-confirm-message="Êtes-vous sûr de vouloir retirer le rôle invité à {{ guest.name }} ?">
                        Retirer le rôle invité
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#confirmModal"
                            data-bs-confirm-action="{{ path('admin_guest_delete', {id: guest.id}) }}"
                            data-bs-confirm-message="Êtes-vous sûr de vouloir supprimer le compte invité {{ guest.name }} ?
                            Cette action est irréversible.">
                        Supprimer le compte invité
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% set totalPages = (total / limit)|round(0, 'ceil') %}

    <nav aria-label="Page navigation" class="position-sticky bottom-0 mt-auto bg-white pb-2">
            <div class="d-flex justify-content-between align-items-center">
            <ul class="pagination mb-0">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_guest_index', {page: page - 1, limit: limit}) }}">Précédent</a>
                    </li>
                {% endif %}

                {% for i in range(max(1, page - 3), min(totalPages, page + 3)) %}
                    <li class="page-item {% if i == page %}active{% endif %}">
                        <a class="page-link" href="{{ path('admin_guest_index', {page: i, limit: limit}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if page < totalPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_guest_index', {page: page + 1, limit: limit}) }}">Suivant</a>
                    </li>
                {% endif %}

            </ul>
                <div>
                    <form class="d-flex align-items-center" method="get" action="{{ path('admin_guest_index') }}">
                        <label for="limit" class="">Éléments par page:</label>
                        <select class="form-select form-select-sm" id="limit" name="limit" onchange="this.form.submit()">
                            {% for option in [5, 10, 15, 25, 50, 100] %}
                                <option value="{{ option }}" {% if limit == option %}selected{% endif %}>{{ option }}</option>
                            {% endfor %}
                        </select>
                        {% if page > 1 %}
                            <input type="hidden" name="page" value="{{ page }}">
                        {% endif %}
                    </form>
                </div>
        </div>
    </nav>

    {# Inclusion de la modale de confirmation #}
    {% include 'components/confirmation_modal.html.twig' %}
</div>
{% endblock %}
